body {
    font-family: "Times New Roman", Georgia, Serif !important;
}
.hover-box {
    position: relative;
    display: inline-block;
}

.hover-box::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the thickness of the line */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.hover-box:hover::after {
    background-color: #007bff; /* Change color on hover (adjust as desired) */
}

/* Optional: Add a subtle box-shadow effect on hover */
.hover-box:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}